* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app {
    background: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
}
.app i {
    margin-top: 15px;
    color: white;
}